
<!DOCTYPE html>
<html lang="fa-IR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>جاست لاگ | طرح ده - ورود</title>
    <!-- External CSS -->
    <link type="text/css" rel="stylesheet" href="/authLayout/assets/css/bootstrap-rtl.min.css">
    <link type="text/css" rel="stylesheet" href="/authLayout/assets/fonts/font-awesome/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="/authLayout/assets/css/fonts.css">

    <!-- Favicon icon -->
    @*link rel="icon" type="image/png" sizes="32x32" href="images/fev.png">*@

    <!-- Custom Stylesheet -->
    <link type="text/css" rel="stylesheet" href="/authLayout/css/login-ten.css">

</head>
<body>

    <!-- Loader -->
    <div class="loader"><div class="loader_div"></div></div>

    @RenderBody()
    <!-- /. Login page -->
    <!-- External JS libraries -->
    <script src="/authLayout/assets/js/jquery-2.2.0.min.js"></script>
    <script src="/authLayout/assets/js/popper.min.js"></script>
    <script src="/authLayout/assets/js/bootstrap.min.js"></script>
    <script src="/js/global.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Custom JS Script -->
    <script type="text/javascript">
        $(window).load(function () {
            $(".loader").fadeOut("slow");;
        });
    </script>




</body>
</html>